{% load static %}
<!-- 
Django-Blocks:
    explicit_CSS
    content
    explicit_scripts
-->

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bss-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Basic-icons.css' %}">

    <style>
        html {
            scroll-behavior: smooth;
            scroll-padding-top: 80px;
        }
    </style>
    <!-- explicit_CSS -->
    <!-------------------------------------------------------------------------------->
    {% block explicit_CSS %}{% endblock %}        

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="80" tabindex="0">

    <!-------------------------------------------------------------------------------->

    {% include 'partials/navbar.html' %}

    <!-------------------------------------------------------------------------------->

    <section>
        {% if breadcrumbs %}
        <div class="breadcrumb-wrapper">
            {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
        </div>
        {% endif %}
        
        {% block content %}{% endblock %}        
    </section>

    <!-------------------------------------------------------------------------------->
    
    {% include 'partials/footer.html' %}

    <!-------------------------------------------------------------------------------->
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    
    {% include 'partials/toast_container.html' %}

    <!-- explicit_scripts -->
    {% block explicit_scripts %}{% endblock %}   
</body>
</html>